---
title: Grad Photos, 2023
date: 2023-06-01
tags: av
layout: av.njk
description: >
    A sample of the grad photos I took for folks from the end of the 2023-24 academic year.
category: Portrait
cover: /img/DSCF0321.jpg
---

{%- from "macro.njk" import img -%}

{% include "av_desc.njk" %}

<div class="columns-sm gap-2 md:mr-8">
    <!-- risa -->
    {{ img('DSCF0155.jpg', '') }}
    {{ img('DSCF0321.jpg', '') }}

    <!-- izzy -->
    {{ img('DSCF1196.jpg', '') }}
    {{ img('DSCF1432.jpg', '') }}
    {{ img('DSCF1374.jpg', '') }}
    {{ img('DSCF1567.jpg', '') }}

    <!-- clarisa -->
    {{ img('DSCF1637.jpg', '') }}
    {{ img('DSCF1916.jpg', '') }}
    {{ img('DSCF2008.jpg', '') }}
    {{ img('DSCF2022.jpg', '') }}
    {{ img('DSCF2269.jpg', '') }}
    {{ img('DSCF2281.jpg', '') }}

    <!-- emely -->
    {{ img('DSCF3622.jpg', '') }}
    {{ img('DSCF3633.jpg', '') }}
    {{ img('DSCF3716.jpg', '') }}

    <!-- carolina -->
    {{ img('DSCF5040.jpg', '') }}
    {{ img('DSCF5114.jpg', '') }}

    <!-- chels -->
    {{ img('DSCF6357.jpg', '') }}

    <!-- rhianen -->
    {{ img('DSCF6597.jpg', '') }}
    {{ img('DSCF6812.jpg', '') }}
    {{ img('DSCF6869.jpg', '') }}
    {{ img('DSCF7087.jpg', '') }}
</div>
