<div class="flex flex-col-reverse gap-4 lg:flex-row text-2xl text-keynote-600 pb-16 mr-8">
    {% if description %}
        <p class="max-w-3xl grow">
            {{ description | safe }}
        </p>
    {% endif %}
    <div class="columns-3xs space-y-2 grow">
        <div class="break-inside-avoid-column">
            <p class="text-lg text-keynote-500 font-bold">Date</p>
            <p class="text-keynote-500 text-xl">{{ date | readableDate("LLL yyyy") }}{% if end %} &ndash; {{ end | readableDate("LLL yyyy") }}{% endif %}</p>
        </div>
        {% if category %}
            <div class="break-inside-avoid-column">
                <p class="text-lg text-keynote-500 font-bold">Category</p>
                <p class="text-keynote-500 text-xl">{{ category }}</p>
            </div>
        {% endif %}
    </div>
</div>
