<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/css/base.css">
        <link rel="alternate" type="application/rss+xml" title="RSS" href="https://drewdevault.com/feed.xml">
        <link rel="icon" type="image/png" href="/avatar.png">
        <title>
            {{ block "title" . }}
                {{ $url := replace .Permalink ( printf "%s" .Site.BaseURL) "" }}
                {{ if not (or (eq $url "/") (eq $url "")) }}
                    {{ if .Params.heading }}
                        {{ .Params.heading }}
                    {{ else }}
                        {{ .Title }}
                    {{ end }}
                    /
                {{ end }}
                {{ .Site.Title }}
            {{ end }}
        </title>
        <link rel="canonical" href="{{ .Permalink }}">
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
        {{ range .AlternativeOutputFormats -}}
            {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
        {{ end -}}
    </head>
    <body style="margin: unset; max-width: unset; padding: unset;">
        <header style="margin: 1em auto; max-width: 38rem; padding: 0 .62em;">{{ block "header" . }}{{ end }}</header>
        <main class="content">
            {{ block "main" . }}{{ end }}</main>
        <footer>
            {{ block "footer" . }}
                {{ partial "footer.html" . }}
            {{ end }}
        </footer>
    </body>
</html>
