{{ define "header" }}
    {{ partial "navbar.html" . }}
{{ end }}

{{ define "main" }}
    <header class="post-header" style="padding-left: .62em; padding-right: .62em; margin: 3.5em auto 1em auto; max-width: 38rem;">
        <h1 class="topic">{{ .Title }}</h1>
        <p class="subtitle">
            freelance photography services available in the san diego area: events, casual outings, and everything in between
        </p>
        <p class="subtitle" style="margin-top: 1em;">
            <a class="call-to-action" href="mailto:david@cao.st">contact: david@cao.st</a>
        </p>
    </header>
    <div class="photo-grid" style="padding: 0 .62em;">
        {{ range .Pages }}
        {{ $image := printf "https://photo-cdn.cao.st/%s_640.jpg" (index .Params.img 0) }}
        <a style="padding: 0.25em;" href="{{ .RelPermalink }}">
            <div class="photo-grid-item" style="background-image: url('{{ $image }}');">
            </div>
        </a>
        {{ end }}
    </div>
{{ end }}
