{{ define "header" }}
    {{ partial "navbar.html" . }}
{{ end }}

{{ define "main" }}
    <section class="img-container">
        {{ range .Params.img }}
        {{ $image := printf "https://photos.cao.st/%s_1600.jpg" . }}
        {{ $full := printf "https://photos.cao.st/%s.jpg" . }}
        <a href="{{ $full }}">
            <img class="photo" alt src="{{ $image }}">
        </a>
        {{ end }}
    </section>
    <div style="padding: 0 .62em; margin: 1.5em auto 1em auto; max-width: 38rem;">
        <p class="img-caption">
            {{ .Title }}
            <span style="font-size: 1em;" class="smol-topic">{{ .Date.Format "1/2/06" }}</span>
        </p>
        {{ if .Content }}
        <div>{{ .Content }}</div>
        {{ end }}
    </div>
{{ end }}
