---
title: UCSD Wushu 2021 Showcase
tags: av
layout: av.njk
date: 2021-04-09
description: I filmed and edited a demo video for UCSD Wushu, to be shown at the Multi Asian Student Association's Virtual Night Market for 2021.
category: Concept video
cover: /av/masa-2021/cover.png
---

<div class="mr-8">
    <iframe class="w-full aspect-video" src="https://www.youtube.com/embed/1JdGdKlYJ18?si=jGIjrtc070_PBdMI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>

<div class="pt-6">
    {% include "av_desc.njk" %}
</div>

