{{ define "header" }}
    <header class="post-header">
        <h1 class="topic">{{ .Site.Title }}</h1>
        <nav class="home-nav ss">
            <a href="/posts">posts</a>
            <a href="/photos">photos</a>
            <a href="/resume.pdf">resume</a>
        </nav>
        <nav class="home-nav">
            <a href="mailto:david@cao.sh">email: david@cao.sh</a>
            <a href="https://github.com/dcao">github: @dcao</a>
            <a href="http://keys.gnupg.net/pks/lookup?op=get&search=0xBAF82063B3C00397">gpg: baf82063b3c00397</a>
        </nav>
    </header>
{{ end }}
{{ define "main" }}
    <p>hey!</p>
    <p>i'm <strong>david cao</strong> (<a href="https://pronoun.is/he/him">he/him</a>), and i'm a second year undergraduate at UC San Diego with an interest in programming languages and systems. i'm currently doing research in program synthesis and in applying liquid types. nice to meet you!</p>
    <p>i've worked on a few things:</p>
    <h3 class="no-num">research</h3>
    <ul>
        <li><a href="posts/adra-src">Automated Dependent Resource Analysis</a>, a technique for inferring the resource use of programs. (POPL 2021 SRC, 2nd Prize)
    </ul>
    <h3 class="no-num">open source projects</h3>
    <ul>
        <li><a href="https://seascape.app">seascape</a>: a smarter professor/course evaluation tool for UCSD</li>
        <li><a href="https://github.com/dcao/spisbot">spisbot</a>: a Discord bot made to administrate <a href="https://spis.ucsd.edu">SPIS 2020</a> virtually</li>
        <li><a href="https://github.com/elba/elba">elba</a>: a package manager for Idris</li>
    </ul>
    <h3 class="no-num">other work</h3>
    <ul>
        <li>i made a <a href="https://ucsdwushu.org">website for ucsd wushu</a></li>
        <li>i made a <a href="https://defundsfpdnow.com">website for the defund sfpd now campaign</a></li>
    </ul>
{{ end }}

