{{ define "header" }}
    <header class="post-header">
        <h1 class="topic">{{ .Site.Title }}</h1>
        <nav class="home-nav">
            <a href="/posts">posts</a>
            <a href="/photos">photos</a>
        </nav>
    </header>
{{ end }}
{{ define "main" }}
    <p>this is the personal website of david cao: <s>high school student</s> undergraduate student at UCSD ('23) and wannabe programming language researcher</p>
    <h1 class="no-num">links</h1>
    <ul>
        <li>Keybase: <a href="https://keybase.io/dmcao">dmcao</a></li>
        <li>Email: <a href="mailto:david@cao.st">david@cao.st</a></li>
        <li>GitHub: <a href="https://github.com/dcao">@dcao</a></li>
        <li>sr.ht: <a href="https://git.sr.ht/~dcao">~dcao</a></li>
        <li>GPG: <a href="http://keys.gnupg.net/pks/lookup?op=get&search=0xBAF82063B3C00397">BAF82063B3C00397</a></li>
    </ul>
{{ end }}

