---
date: Last Modified
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ bareTitle or (title ~ " • david cao") }}</title>
        <link rel="stylesheet" href="/css/output.css" type="text/css"/>
    </head>
    <body class="bg-keynote-100">
        {{ content | safe }}
    </body>
</html>
