---
layout: base-new.njk
---

<div class="mt-32">
    <div class="grid gap-2 grid-cols-1 gap-8 lg:gap-4 lg:grid-cols-13">
        <p class="text-keynote-500 font-xanh text-2xl lg:col-start-7 lg:col-span-6">{{ page.date | utcDate }}</p>
    </div>

    <div class="grid gap-2 grid-cols-1 gap-8 lg:gap-4 lg:grid-cols-13">
        <p class="font-xanh text-2xl lg:col-start-7 lg:col-span-6">{{ title }}</p>
    </div>

    <div class="grid gap-2 grid-cols-1 gap-8 lg:gap-4 lg:grid-cols-13 mt-12">
        <main class="text-gray-700 text-lg lg:col-start-7 lg:col-span-6 max-w-prose">
            {{ content }}
        </main>
    </div>
</div>
