---
title: In Bloom
date: 2022-12-01
tags: av
layout: av.njk
cover: /img/aequora.png
category: Concept video
description: I filmed the in-person portions of and edited <em>In Bloom</em>, the 2020-21 season's spring showcase for Aequora Ballet Company, a ballet dance team at UCSD.
---

<div class="mr-8">
    <iframe class="w-full aspect-video" src="https://www.youtube.com/embed/VeFUJ35Dsdk?si=WE8Wu4iEofeviwZK" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>

<div class="pt-6">
    {% include "av_desc.njk" %}
</div>
