---
title: 4N01's 2023 All Women's Jam
date: 2023-06-01
tags: av
layout: av.njk
category: Live event videography
description: >
  <em>All Women's Jam</em> is a yearly dance battle for women and non-binary folks within the UCSD dance community hosted by 4N01, an all-women's team at UCSD.
  <br />
  <br />
  For this event, I provided live videography for all of the rounds of the battle. These videos can be found at
  <a class="underline underline-offset-4 decoration-2 decoration-dotted hover:decoration-solid transition" href="https://drive.google.com/drive/u/2/folders/1tGeSK-MVvJgKxFpWc6fSYPMs9iBiJxOP">this Google Drive link↗</a>.
---

{% include "av_desc.njk" %}
