---
title: Grad Photos, 2022
date: 2021-05-01
end: 2022-05-01
tags: av
layout: av.njk
description: A sample of grad photos I took for folks from 2021 and 2022.
category: Portrait
cover: /img/DSCF0095_s.jpeg
---

{%- from "macro.njk" import img -%}

{% include "av_desc.njk" %}

<div class="columns-sm gap-2 md:mr-8">
    {{ img("DSCF2679_s.JPG", "") }}
    {{ img("DSCF2819_s.jpeg", "") }}
    {{ img("DSCF2680_s.JPG", "") }}
    {{ img("DSCF0064_s.jpeg", "") }}
    {{ img("DSCF0003.jpg", "") }}
    {{ img("DSCF0161_s.jpg", "") }}
    {{ img("DSCF0095_s.jpeg", "") }}
    {{ img("DSCF0111_s.jpeg", "") }}
    {{ img("DSCF0116_s.jpeg", "") }}
    {{ img("DSCF0142_s.jpg", "") }}
</div>
