---
title: Homegrown Vol. 2
date: 2022-05-21
tags: av
layout: av.njk
category: Live event videography
cover: /img/homegrown.png
description: >
  Homegrown was a series of 1v1 dance battles organized by Mosaic - CollabArt at UCSD.
  <br />
  For this event, I provided live videography for all of the rounds of the battle. These videos are embedded in the playlist shown above.
---

<div class="md:mr-8">
    <iframe class="w-full aspect-video" src="https://www.youtube.com/embed/?listType=playlist&list=PLn39yrW7a2mEG0dPekncZ35ZodltAC04j" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
</div>

<div class="pt-6">
    {% include "av_desc.njk" %}
</div>

