---
title: work it!
date: 2022-12-01
tags: av
layout: av.njk
cover: /img/home1.png
category: Concept video
description: I filmed and edited a concept video for Sleepless Collective, a freestyle- &amp; choreo-based dance team at UCSD, as part of their Winter 2023 recruitment.
---

<div class="md:mr-8">
    <iframe class="w-full aspect-video" src="https://www.youtube.com/embed/RRfRueuVaQY?si=GRxfjX3hKjq8vkD4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>

<div class="pt-6">
    {% include "av_desc.njk" %}
</div>
